.game-map {
  .game-row {
    display: flex;

    .game-item {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 48px;
      height: 48px;

      border: 1px solid black;
    }

    .game-item-1 {
      color: red;
    }
  }
}
