.game-map {
  .game-row {
    .game-item {
      display: table-cell;
      width: 16px;
      height: 16px;

      background: black;
    }

    .game-item-user1 {
      background: yellow;
    }
    .game-item-user2 {
      background: green;
    }
    .game-item-enemy {
      background: azure;
    }
    .game-item-water {
      background: blue;
    }
    .game-item-bullet {
      background: aliceblue;
    }
    .game-item-wall {
      background: darkgoldenrod;
    }

    .game-item-direction-up {
      transform: rotate(0deg);
    }
    .game-item-direction-down {
      transform: rotate(180deg);
    }
    .game-item-direction-right {
      transform: rotate(90deg);
    }
    .game-item-direction-left {
      transform: rotate(270deg);
    }
  }
}
